@import 'normalize.styl'

body
  background-color #333
  color #fff
  font-family "Open Sans", Helvetica, Arial, sans-serif
  
.b-form
  width 600px
  margin 0 auto
  background-color #262626
  padding 50px
  
input
  border 0
  padding 0
  margin 0
  line-height normal
  
  &,
  &:focus
    outline none
  
.b-input-text
  background-color #1e1e1e
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px
  box-sizing border-box
  padding 0 45px 0 5%
  height 60px
  width 520px
  display block
  color #fff
  display block
  
.i-float .b-label
  transform translateY(40px)
  cursor text
  transition all .3s ease

.b-label
  display inline-block
  vertical-align top
  font-size 10.5pt
  font-weight bold
  color #fff
  padding-left 5%
